#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  /* text-align: center; */
}

@media screen and (max-width: 576px) {
  img {
    width: 50% !important;
  }
}
